apiVersion: apps/v1
kind: Deployment
metadata: 
  name: nginx-deployment
  labels:
    company: wipro
spec: 
  replicas: {{ .Values.deployment.replicas | default 2 }} 
  #Prevents rendering errors if values.yaml is missing
  #3 deployment defination starts from here
  selector:
    matchLabels:
      company: wipro
  template: # pod defination start from here
    metadata:
      labels:
        company: wipro
    spec:
      containers:
        - name: nginx
          # image: nginx:1.25.2 # old nginx image for testing
          image: nginx
