#Hard Rule
apiVersion: v1
kind: Pod
metadata:
  name: nginx-pod-1
  labels:
    company: wipro
spec:
  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchExpressions:
            - key: company
              operator: In
              values:
              - wipro
          topologyKey: "kubernetes.io/hostname"
  containers:
    - name: nginx
      image: nginx